#content {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    text-align: center;
}

.logo {
    width: 80px;
    border-radius: 50%;
    border: 2px solid #333;
}

#hero-img {
    width: 100%;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

#hero-msg {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

body {
    background-color: #f1f1f1;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0 15px;
}

h2 {
    margin: 0;
}

header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: #1b4332;
    color: #ffffff;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
    display: inline-block;
    margin: 0 10px;
}

nav a:hover {
    background-color: #52b788;
    color: black;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-decoration: underline;
}

.book, .join {
    margin-top: 50px;
    background-color: #40916c;
    color: #ffffff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
}

.book:hover, .join:hover {
    background-color: #0077b6;
    color: #ffffff;
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.2s;
}

#background {
    height: 725px;
    background-color: #caf0f8;
    padding: 60px 20px;
    text-align: center;
    color: #003049;
}

.msg {
    background-color: #6f7364;
    color: #222222;
    padding: 30px;
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    line-height: 1.5em;
}

.msg p {
    padding-bottom: 15px;
}

footer {
    background-color: #6f7364;
    color: #ffffff;
    text-align: center;
    padding: 20px 50px;
    font-size: 0.9rem;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

.icon, .Icon {
    width: 80px;
    padding-top: 10px;
}

#logo_link {
    padding-top: 5px;
}

.home-title {
    margin-top: 10px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
    margin: 0 auto;
}

#hero-box {
    margin: 0 auto;
    padding-left: 200px;
}
